// 404 page css file.

.error-page {
    .row {
        align-items: center;
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px 0px;

        p {
            text-align: center;
        }

        a.global-button {
            text-decoration: none;
            color: $color-white;
            display: flex;
            align-items: center;
            gap: 12px;

            i {
                line-height: 0;

                &::before {
                    margin: 0;
                    font-size: 22px;
                }
            }
        }

        span {
            color: $sub-heading-blue;
            font-family: $secondary-family;
        }
    }

    &__image {
        img {
            width: 100%;
            height: 100%;
        }
    }

    @include max-991 {
        .row {
            justify-content: center;
            gap: 20px;
        }
    }

    @include max-425 {
        &__content {
            a.global-button {
                i {
                    &::before {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}