// Why Choose Key Benefits Section CSS
.key-benefits {
	&__inner {
		display: flex;
		flex-direction: column;
		gap: 40px;

		@include max-1199 {
			br {
				display: none;
			}
		}

		@include max-991 {
			gap: 30px;
		}

		.row {
			gap: 40px 0;
			--bs-gutter-x: 3.188rem;

			@include max-991 {
				gap: 30px;
			}
		}
	}

	&__inner_content {
		display: flex;
		flex-direction: column;
		gap: 48px;

		@include max-991{
			gap: 30px;
		}

		@include max-575{
			gap: 20px;
		}

		&--heading {
			display: flex;
			flex-direction: column;
			gap: 16px;

			&-subtitle {
				display: flex;
				align-items: center;
				gap: 10px;

				i {
					&::before {
						font-size: 16px;
						color: $sub-heading-blue;
						width: fit-content;
						display: block;
						margin: 0;
						padding: 0;
					}
				}

				p {
					font-weight: 600;
					color: $sub-heading-blue;
					text-transform: uppercase;
				}

				&::after {
					content: "";
					width: 50px;
					height: 1px;
					background-color: $sub-heading-blue;
				}
			}
		}

		&--loop {
			display: flex;
			flex-direction: column;
			gap: 16px;

			&-box {
				display: flex;
				flex-direction: column;
				gap: 13px;
				border: 1px solid $border-color;
				border-radius: 20px;
				box-shadow: 0px 3px 10px 0px #00000008;
				padding: 30px;
				height: 100%;

				@include max-425 {
					padding: 25px;
				}

				@include max-360 {
					padding: 20px;
				}

				&-heading {
					display: flex;
					align-items: center;
					gap: 18px;

					span {
						font-weight: 700;
						font-size: 23px;
						line-height: 23px;
						color: $sub-heading-blue;
						background: #1D64FF1A;
						margin: 0;
						padding: 0;
						min-width: 50px;
						min-height: 50px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 15px;
						
						@include max-425 {
							font-size: 18px;
							line-height: 18px;
							min-width: 40px;
							min-height: 40px;
						}
					}

					h3 {
						font-size: 24px;
						line-height: 32px;

						@include min-1400 {
							font-size: 26px;
							line-height: 34px;
						}

						@include max-425 {
							font-size: 20px;
							line-height: 28px;
						}
					}
				}
			}
		}
	}

	&__inner_img {
		position: sticky;
		top: 103px;

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
			border-radius: 15px;
		}
	}
}